* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    /* --primary: hsl(0, 100%, 73%); */
    --primary:#ffeaa7;
    --secondary: hsl(0, 100%, 93%);
    --tertiary: hsl(196, 7%, 42%);
    --primary-font: hsl(196, 7%, 2%);
}

p, h2 {
    margin-top: 0;
    margin-bottom: 0;
}


body {
    background: url(ramen.jpg) no-repeat center fixed ;
    background-size: cover;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    background-color: var(--primary);
    height: 5rem;
    z-index: 2;
}

.header__title {
    margin-left: .25em;
    color: var(--primary-font);
}

.nav {
    display: flex;
}

.nav--link {
    text-decoration: none;
    color: var(--tertiary);
    padding-right: 1.5rem;
}

.nav--link:nth-last-child(1) {
    padding-right: 2rem;
}

.section {
    display: flex;
    /* background-color: var(--secondary); */
    height: 500px;
    color: var(--primary-font);
}

.section__title {
    display: flex;
    flex-basis: 25%;
    align-items: center;
    justify-content: end;
    padding-right: .75em;
    background-color: var(--primary);
}

.section__content {
    /* background-color: var(--tertiary); */
    opacity: .9;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

